@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Short Stack';
}

#container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;

    background-color: rgb(117, 193, 223);
}

.app-container {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(4, 1fr);

    height: 700px;
/* fallback for the background img url */
    background: rgb(17,174,255);
    background: linear-gradient(162deg, rgba(17,174,255,0.7) 0%, rgba(30,142,200,0.2) 39%, rgba(98,220,232,1) 100%);

    background-image: url(./img/wrinkled-notebook-paper.jpg);
}

.search-bar {
    height: 40px;
    border: none;
    border-bottom: solid skyblue 1px;
    background-color: transparent;
    font-family: 'Short stack';
    font-size: 19px;
    padding: 10px;

}

.search-btn {
    height: 40px;
    width: 122px;
    border: none;
    background-color: none;
    border-bottom: solid skyblue 1px;
    font-family: 'Short stack';
}

.test-btn {
    height: 60px;
    width: 130px;
}

.search-area-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.display-div > p {
    font-family: 'Grape Nuts';
    font-size: 35px;
    text-align: center;
    margin: 0;
}

.display-div > p:first-of-type {
    font-family: 'Permanent Marker';
}

.temps-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5%;

    font-family: 'Grape Nuts';
    font-size: 42px;
}

.sticker-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'AGUSTINASANS';
    font-size: clamp(30px, 42px, 100%)
}

.sticker-div > p {
    margin: 0;
}

.sticker-div > img {
    max-width: max-content;
    max-height: max-content;
}

/* styling the slider */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }

  #happy-face{
      font-family: 'AGUSTINASANS';
  }

  .city-name-div {
      display: flex;
      justify-content: center;
      justify-items: center;
      text-align: center;
      margin: 0;
      padding: 0;
  }

  .current-status-div {
      display: flex;
      justify-content: center;
      
      font-family: 'Permanent Marker';  
      font-size: 1.8rem;
  }

/* font-face rules */

@font-face {
    font-family: Caveat;
    src: url('./fonts/Caveat-VariableFont_wght.ttf');
}

 @font-face {
     font-family: Railway;
     src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf');
 }

 @font-face {
     font-family: Grape Nuts;
     src: url('./fonts/Grape_Nuts/GrapeNuts-Regular.ttf');
 }

 @font-face {
     font-family: Permanent Marker;
     src: url('./fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
 }

@font-face {
    font-family: AGUSTINASANS;
    src: url('./fonts/AGUSTINASANS.ttf');
}